*
{
    margin: 0;
}
#main
{
    padding-top: 100px;
    width: 230px;
    height: 100vh;
    transform: translate(-250px);
    transition: all 3s;
}
#sub
{
    height: 800px;
    border: solid;
}
ul li
{
    width: 200px;
    list-style: none;
    padding: 10px;
    font-weight: bolder;
    margin-left: -30px;
    color: bisque;
}
li:hover
{
    
}